:root{
    --date-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color:#333;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1#title {
    text-align: center;
    color:rgb(55, 120, 218);
    background-color: white;
    transition: 0.3s, transform 0.3s;
    text-decoration:none;
    text-align: center;
}

h1#title a {
    text-decoration:none;
    text-align: center;
}

h1#title a:visited {
    color: rgb(55, 120, 218);
    text-decoration:none;
    text-align: center;
}

h1#title:hover {
    transform: scale(1.25);
}

nav#barra-main {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red); /* Gradiente duplicado */
    background-size: 300% 100%; /* Aumenta o tamanho do gradiente */
    animation: rainbow 10s linear infinite; /* Animação contínua */
    min-height: auto;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    position: sticky;
    top: 0;
    color: white;
    z-index: 100;
}

.botao-menu-lateral img {
    width: 36px;
    position: absolute;
    transition: 0.3s, transform 0.3s;
}

.botao-menu-lateral img:hover {
    transform: scale(1.25);
}

.botao-menu-lateral {
    width: fit-content;
    height: fit-content;
}

#botao-menu-lateral-reserva {
    margin-left: 10px;
}

h6#titulo {
    font-size: xx-large;
    margin: 0;
    color: white;
    text-align: center;
    width: 100%;
    text-decoration:none;
    text-align: center;
}

h6#titulo > a {
    color: white;
    text-decoration:none;
    text-align: center;
}

@keyframes abrirMenu {
    from {right: 100%;}
    to {right: 70%;}
}

@keyframes fecharMenu {
    from {right: 70%;}
    to {right: 100%;}
}

@keyframes rainbow {
    0% { background-position: 0%; }   /* Começa na posição inicial */
    100% { background-position: 150%; } /* Move até o final */
}

/* barra lateral */

aside#menu-lateral {
    z-index: 101;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.637);
    width: 30%;
    top: 0;
}

#fechar-menu-lateral {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

aside#menu-lateral button {
    border: none;
    border-radius: 100px;
    font-size: larger;
    padding: 3px;
    margin: 3%;
    width: fit-content;
    background: linear-gradient(40deg, #66BB6A, #00ff0d);
    transition: 0.3s, transform 0.3s;
    box-shadow: 4px 4px 4px #8ca38d;
}

aside#menu-lateral button:hover {
    transform: scale(1.25);
    cursor: pointer;
    box-shadow: 4px 4px 4px #96da99;
    background: linear-gradient(40deg, #a6e9aa, #00ff0d);
}

img.fechar {
    width: 30px;
    margin: 5px;
}

img.fechar:hover {
    transform: scale(1.25);
    cursor: pointer;
}

@media (max-width: 600px) {
    aside#menu-lateral {
        width: 50%;
    }

    @keyframes abrirMenu {
        from {right: 100%;}
        to {right: 50%;}
    }
    
    @keyframes fecharMenu {
        from {right: 50%;}
        to {right: 100%;}
    }
}

div.aside-window {
    width: 30%;
    height: 70vh;
    background-color: #ffffff;
    border: solid 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: visible;
    position: fixed; /* borda aqui */
    top: 20px;
    left: 20px;
    cursor: default;
    z-index: 101;
    margin: 0;
    padding: 0;
}

div.aside-window .aside-scroll {
    overflow: auto;
    height: calc(100% - 8vh); /* ajuste conforme header */
    box-sizing: border-box;
    padding: 10px;
}

header.aside-window-header {
    display: flex;
    background: linear-gradient(90deg, #4f46e5 0%, #7c3aed 100%);
    height: 8vh;

    div.left-div {
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin: 1% 1% 1% 0.5%;

        .header-icon {
            width: 40px;
            height: 40px;
            margin: 10px 15px 10px 25px;
            padding: 0;
            transition: 0.25s, transform 0.25s;
            color: white;
            align-self: center;
        }

        div {
            align-self: center;
            align-items: flex-start;

            h1 {
                margin: 0 0 5px 0;
                padding: 0px;
                width: fit-content;
                font-size: x-large;
                color: white;
           }
                
            h2 {
                margin: 0px;
                padding: 0px;
                width: fit-content;
                font-size: medium;
                color: rgba(255, 255, 255, 0.792);
            }
        }
    }


    div.button-div {
        width: 20%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    div {
        button {
            width: 30px;
            height: 30px;
            align-self: center;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 5px;
            background-color: #ffffff53;
            transition: 0.25s;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 25px;
                height: 25px;
                margin: 0;
                padding: 0;
                color: white;
            }
        }

        button:hover {
            width: 30px;
            height: 30px;
            align-self: center;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 5px;
            background-color: #ffffff74;
            cursor: pointer;
        }
    }
}

section#notas-atualizacao-container {
    div.atualizacao {
        padding: 10px;

        div.versao-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            h2 {
                background: linear-gradient(90deg, #4f46e5 0%, #7c3aed 100%);
                padding: 10px;
                border-radius: 10px;
                color: white;
                font-size: 1.3rem;
                font-weight: 100;
            }

            div.data-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;


                svg {
                    max-width: var(--date-size);
                }

                
                p.data {
                    font-size: var(--date-size);
                    color: #666;
                    margin-left: 5px;
                }
            }
        }

        ul {
            display: block;

            li.nota {
                margin: 20px;
                background-color: rgb(245, 245, 245);
                list-style: none;
                transition: 0.2s;
                padding: 20px;
                border-radius: 15px;

                .tipo-nota {
                    display: flex;

                    h4 {
                        background-color: purple;
                        width: fit-content;
                        border-radius: 100px;
                        font-size: small;
                        padding: 5px 10px 5px 10px;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }
                }
                   

                h3 {
                    margin: 15px 0 15px 0;
                }

                p {
                    font-size: smaller;
                }
            }

            li.nota:hover {
                transform: scale(1.05);
                box-shadow: 5px 5px 5px #b3b3b3;
            }
        }
    }
}
