* {
    margin: 0;
    padding: 0;
}

body {
    color:var(--black);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1#title {
    text-align: center;
    color:var(--blue2);
    transition: 0.3s, transform 0.3s;
    text-decoration:none;
    text-align: center;
    margin: 15px;

    a {
        text-decoration:none;
        text-align: center;
    }

    a:visited {
        color: var(--blue2);
        text-decoration:none;
        text-align: center;
    }
    
}

h1#title:hover {
    transform: scale(1.20);
}

nav#barra-main {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red); /* Gradiente duplicado */
    background-size: 300% 100%; /* Aumenta o tamanho do gradiente */
    animation: rainbow 10s linear infinite; /* Animação contínua */
    min-height: auto;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    position: sticky;
    top: 0;
    color: white;
    z-index: 100;
    margin: 10px 0 10px 0;
}


.botao-menu-lateral {
    width: fit-content;
    height: fit-content;

    img {
        width: 36px;
        position: absolute;
        transition: 0.3s, transform 0.3s;
    }

    img:hover {
        transform: scale(1.25);
    }
}

#botao-menu-lateral-reserva {
    margin-left: 10px;
}

h6#titulo {
    font-size: xx-large;
    margin: 0;
    color: white;
    text-align: center;
    width: 100%;
    text-decoration:none;
    text-align: center;

    > a {
        text-decoration:none;
        text-align: center;
        color: white;
    }
}

@keyframes abrirMenu {
    from {right: 100%;}
    to {right: 70%;}
}

@keyframes fecharMenu {
    from {right: 70%;}
    to {right: 100%;}
}

@keyframes rainbow {
    0% { background-position: 0%; }   /* Começa na posição inicial */
    100% { background-position: 150%; } /* Move até o final */
}

/* barra lateral */

aside#menu-lateral {
    z-index: 101;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.637);
    width: 30%;
    top: 0;

    button {
        border: none;
        border-radius: 100px;
        font-size: larger;
        padding: 3px;
        margin: 3%;
        width: fit-content;
        background: linear-gradient(40deg, #66BB6A, #00ff0d);
        transition: 0.3s, transform 0.3s;
        box-shadow: 4px 4px 4px #8ca38d;
    }

    button:hover {
        transform: scale(1.25);
        cursor: pointer;
        box-shadow: 4px 4px 4px #96da99;
        background: linear-gradient(40deg, #a6e9aa, #00ff0d);
    }
}

#fechar-menu-lateral {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

img.fechar {
    width: 30px;
    margin: 5px;
}

img.fechar:hover {
    transform: scale(1.25);
    cursor: pointer;
}

@media (max-width: 600px) {
    aside#menu-lateral {
        width: 50%;
    }

    @keyframes abrirMenu {
        from {right: 100%;}
        to {right: 50%;}
    }
    
    @keyframes fecharMenu {
        from {right: 50%;}
        to {right: 100%;}
    }
}

div.aside-window {
    height: 70vh;
    background-color: #ffffff;
    border: solid 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    position: fixed; /* borda aqui */
    top: 20px;
    left: 20px;
    cursor: default;
    z-index: 101;
    margin: 0;
    padding: 0;

    .aside-scroll {
        overflow: auto;
        height: calc(100% - 8vh); /* ajuste conforme header */
        box-sizing: border-box;
        padding: 10px;
        padding-right: 5px;
        scrollbar-gutter: stable;
    }
}

#notas-atualizacao {
    width: 30%;
}

header.aside-window-header {
    display: flex;
    background: linear-gradient(90deg, var(--purple1) 0%, var(--purple2) 100%);

    div.left-div {
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin: 1vh 1% 1vh 0.5%;

        .header-icon {
            width: 40px;
            height: 40px;
            margin: 10px 15px 10px 25px;
            padding: 0;
            transition: 0.25s, transform 0.25s;
            color: white;
            align-self: center;
        }

        div {
            align-self: center;
            align-items: flex-start;

            h1 {
                margin: 0;
                padding: 0 0 5px 0;
                width: fit-content;
                font-size: x-large;
                color: white;
           }
                
            h2 {
                margin: 0 0 5px 0;
                padding: 0px;
                width: fit-content;
                font-size: medium;
                color: rgba(255, 255, 255, 0.792);
            }
        }
    }

    div.button-div {
        width: 20%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1vh 1% 1vh 0.5%;
        button {
            width: 30px;
            height: 30px;
            align-self: center;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 5px;
            background-color: #ffffff53;
            transition: 0.25s;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 25px;
                height: 25px;
                margin: 0;
                padding: 0;
                color: white;
            }
        }

        button:hover {
            width: 30px;
            height: 30px;
            align-self: center;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 5px;
            background-color: #ffffff74;
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

section#notas-atualizacao-container {
    div.atualizacao {
        padding: 10px;

        div.versao-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            h2 {
                background: linear-gradient(90deg, var(--purple1) 0%, var(--purple2) 100%);
                padding: 10px;
                border-radius: 10px;
                color: white;
                font-size: 1.3rem;
                font-weight: 100;
            }

            div.data-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;

                svg {
                    max-width: var(--date-size);
                }

                p.data {
                    font-size: var(--date-size);
                    color: #000000;
                    margin-left: 5px;
                }
            }
        }

        ul {
            display: block;

            li.nota {
                margin: 20px;
                background-color: var(--gray3);
                list-style: none;
                transition: 0.2s;
                padding: 20px;
                border-radius: 15px;

                .tipo-nota {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    h4 {
                        width: fit-content;
                        border-radius: 100px;
                        font-size: small;
                        padding: 5px 10px 5px 10px;
                    }

                    svg {
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                    }
                }      

                h3 {
                    margin: 15px 0 15px 0;
                }

                p.descricao {
                    font-size: smaller;
                }

                p.relacionado {
                    border: solid 2px var(--purple2);
                    border-radius: 10px;
                    width: fit-content;
                    padding: 5px;
                    background: var(--purple3);
                    margin-top: 10px;
                    color: var(--purple2);
                }
            }

            li.nota:hover {
                transform: scale(1.05);
                box-shadow: 5px 5px 5px #b3b3b3;
            }

            li.nota-melhoria {
                border-left: 4px solid var(--green1);

                .tipo-nota h4{
                    color: var(--green1);
                    background-color: var(--green3);
                }    
            }

            li.nota-atualizacao {
                border-left: 4px solid var(--blue1);

                .tipo-nota h4{
                    color: var(--blue1);
                    background-color: var(--blue3);
                }
            }

            li.nota-correcao {
                border-left: 4px solid var(--red1);

                .tipo-nota h4{
                    color: var(--red1);
                    background-color: var(--red3);
                }
            }

            li.nota-novo_recurso {
                border-left: 4px solid var(--orange1);

                .tipo-nota h4{
                    color: var(--orange1);
                    background-color: var(--orange3);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    
}

#bloco-notas {
    width: 50%;

    .topo-notas {
        background-color: var(--gray3);
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            margin: 10px;
        } 
        h2 {
            font-size: large;
        }  

        button {
            background: var(--blue1);
            border-radius: 10px;
            border: none;
            font-size: large;
            color: var(--white);
            padding: 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.25s;

            #mais-topo-notas {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: larger;
                width: fit-content;
                padding: 0;
                margin: 0 5px 0 0px;
            }
        }

        button:hover {
            background: var(--blue2);
            transform: scale(1.05);
        }
    }
}

section#bloco-notas-container {
    #notas-container {
        #nenhuma-nota-ainda {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg {
                width: 150px;
                color: var(--gray2);
                margin: 3%;
            }

            h4 {
                font-size: larger;
                margin: 1%;

            }

            h5 {
                font-size: 0.9rem;
                margin-top: 2%;
                color: var(--gray1)
            }

        }
    }

    #criar-nota {

    }
}
