h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border: solid 0.5px rgb(131, 131, 131);
    max-width: 100%;
}

.meme {
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 31%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5%
}

@media (max-width: 600px) {
    .meme {
        width: 100%;
    }
}