div#calculadora {
    border: solid 2px rgb(172, 172, 172);
    width: fit-content;
    height: fit-content;
    font-family: sans-serif,Arial, Helvetica, sans-serif
}

div#calculadora img {
    width: 30px;
}

td#visor {
    text-align: right;
    font-size: 300%;
    border: solid 1px rgb(172, 172, 172);
    background-color: aliceblue;
    height: 50px;
}

table#botoes tr td:not(#visor) {
    width: 40px;
    height: 35px;
    padding: 0;
    
}

table#botoes button {
    width: 60px;
    height: 50px;
    font-size: x-large;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}