article {
    border: solid 2px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

h1 {
    text-align: center;
    width: 100%;
}

article p {
    border: solid 1px;
    border-radius: 5px;
    width: 235px;
    margin: 10px;
    padding: 4px;
    text-align: justify;
    background-color: var(--white);
    color: var(--black);
}

#leis {
    background-color: var(--orange3);
    color: var(--cyan7);
    
}

#recordes {
    background-color: var(--red7);
    color: var(--yellow7);
}

#universo {
    background-color: var(--blue2);
    color: var(--purple4);
}

#natureza {
    background-color: var(--green3);
    color: var(--green7);
}

#objetos {
    background-color: var(--orange6);
    color: var(--orange1);
}

#historia {
    background-color: var(--pink4);
    color: var(--orange1);
}