article {
    border: solid 2px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

h1 {
    text-align: center;
    width: 100%;
}

article p {
    border: solid 1px;
    border-radius: 5px;
    width: 235px;
    margin: 10px;
    padding: 4px;
    text-align: justify;
    background-color: white;
    color: black;
}

#leis {
    background-color: #c97200;
    color: rgb(58, 199, 255);
    
}

#recordes {
    background-color: rgb(253, 73, 73);
    color: rgb(255, 255, 86);
}

#universo {
    background-color: rgb(26, 32, 116);
    color: rgb(139, 3, 139);
}

#natureza {
    background-color: rgb(6, 167, 6);
    color: greenyellow;
}

#objetos {
    background-color: #FF8C00;
    color: #573000;
}

#historia {
    background-color: rgb(181, 76, 181);
    color: rgb(88, 44, 0);
}