html,
body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.teste {
    color: red;
}

#conteudo {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    position: relative;

    >* {
        z-index: 5;
    }
}

#dashboard {
    width: 100%;
    display: flex;
    flex: 1;
    min-height: 0;

    aside {
        width: 20%;
        min-width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;

        .sidebar-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            h2 {
                margin: 0;
                font-size: var(--fs4);
                font-weight: 600;
            }
        }

        .sidebar-search {
            padding: 0 15px 15px 15px;
            border-bottom: 1px solid var(--gray12);

            input {
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid var(--gray12);
                font-size: var(--fs6);
                outline: none;
                transition: .2s;
                box-sizing: border-box;

                &:focus {
                    border-color: var(--blue4)
                }
            }
        }

        #suggestions {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-height: 0;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: var(--gray8) transparent;

            .suggestion {
                position: relative;
                border: solid 1px var(--gray12);
                border-radius: 10px;
                margin: 5px 15px;
                padding: 10px;
                cursor: pointer;
                transition: var(--transition-time1);
                font-family: monospace;
                font-size: var(--fs6);
            }
        }

        #tree {
            flex: 1;
            overflow: auto;

            summary {
                display: flex;
                align-items: center;
                margin-bottom: clamp(0px, var(--p3), 1px);
                cursor: default;
                font-family: monospace;
                font-weight: 600;
                white-space: nowrap;

                svg {
                    width: 20px;
                    height: 20px;
                    min-width: 20px;
                    min-height: 20px;
                    display: block;
                }
            }

            details {
                margin-left: clamp(10px, calc(2*var(--p5)), 20px);

                &[open]>summary>svg {
                    transform: rotate(90deg);
                }
            }

            div {
                margin-left: calc(clamp(10px, calc(2*var(--p5)), 20px) + 20px);
            }
        }

        span {
            color: var(--gray6);
            margin: 15px;
            margin-top: 0;
        }

        textarea {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid var(--gray12);
            font-size: var(--fs6);
            outline: none;
            box-sizing: border-box;
            resize: none;
            height: fit-content;

            &:focus {
                border-color: var(--blue4)
            }
        }
    }

    #dashboard-centro {
        width: 60%;

        #ferramentas {
            background-color: var(--white);
            border: solid 1px var(--gray12);
            border-radius: 10px;
            margin: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;

            svg {
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                transition: var(--transition-time1);

                &:hover {
                    background-color: var(--gray10);
                    border-radius: 100%;
                }
            }

            input {
                max-width: 60px;
            }
        }

        #iframe-area {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            box-sizing: border-box;
            z-index: 10;
            background-color: var(--gray13);
            position: relative;
            user-select: none;

            #iframe-camera {
                position: absolute;
                transform-origin: 0 0;
                will-change: transform;
                background-color: var(--white);
                box-shadow: 0 4px 15px rgb(0 0 0 / 15%);

                iframe {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: none;
                    pointer-events: none;
                    user-select: none;
                }
            }

            #camera-overlay {
                position: absolute;
                inset: 0;
                z-index: 100;
                display: none;
            }
        }
    }

    #tooltip {
        max-width: 300px;
        z-index: 10;
        position: fixed;
        background: var(--white);
        border: 1px solid var(--gray12);
        border-radius: 10px;
        padding: 10px;
        color: var(--gray6);
        font-size: var(--fs6);
        display: none;
        pointer-events: none;
    }

    .janela-flutuante {
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white);
        border: 2px solid var(--gray10);
        border-radius: 10px;
        z-index: 10;
        width: clamp(400px, 35%, 600px);
        max-height: 70%;
        overflow: hidden;

        button {
            background-color: var(--white);
            border: 1px solid var(--gray12);
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: var(--transition-time1);
            display: flex;
            align-items: center;

            &:hover {
                background-color: var(--gray14);
                transform: scale(1.05);
            }

            svg {
                margin-right: 5px;
            }
        }

        label {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        input {
            border: solid 1px var(--gray7);
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            transition: var(--transition-time1);

            &:focus {
                outline: none;
                border-color: var(--blue3);
            }
        }

        div.floating-input {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--white);
            border: solid 2px var(--gray10);
            border-radius: 10px;
            padding: 15px;

            div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                p {
                    margin: 0;
                    margin-right: 5px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    transition: var(--transition-time1);

                    &:hover {
                        background-color: var(--gray10);
                        border-radius: 5px;
                    }
                }
            }

            textarea {
                border: solid 1px var(--gray7);
                border-radius: 10px;
                padding: 5px;
                resize: none;
                height: 100px;
            }
        }

        >div.janela-flutuante-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            touch-action: none;
            user-select: none;

            div {
                display: flex;
                align-items: center;
                font-size: var(--fs4);
                font-weight: 600;
                font-family: monospace;

                svg {
                    color: var(--blue3);
                    border: solid 2px var(--blue3);
                    border-radius: 5px;
                    padding: 2px;
                    margin-right: 5px;
                }
            }

            svg.close-button {
                cursor: pointer;
                padding: 2px;
                transition: var(--transition-time1);

                &:hover {
                    background-color: var(--gray12);
                    border-radius: 5px;
                }
            }
        }

        div.janela-flutuante-scroll {
            overflow-y: auto;
            max-height: calc(70vh - 60px);
        }

        div.janela-flutuante-conteudo {
            margin: 15px;

            details {
                padding: 15px;
                border: solid 1px var(--gray12);
                border-radius: 10px;
                margin-bottom: 10px;
                overflow: auto;

                summary {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    cursor: default;
                    font-weight: 600;
                    justify-content: space-between;

                    div {
                        display: flex;
                        align-items: center;
                    }

                    >svg {
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--gray10);
                        }
                    }
                }

                &[open] summary div svg {
                    transform: rotate(90deg);
                }
            }

            .filhos-container {
                display: flex;
                flex-direction: column;
                margin-top: var(--p3);
                border: solid 1px var(--gray12);
                border-radius: 5px;
                font-family: monospace;
                font-size: var(--fs6);
                margin-bottom: var(--p5);

                div {
                    display: flex;
                    align-items: center;
                }
            }

            .attributes-list,
            .css-list {
                margin-bottom: var(--p5);

                .attribute-row,
                .css-row {
                    display: flex;
                    align-items: center;
                    margin-bottom: var(--p3);

                    span {
                        margin: 0 2px;
                        font-weight: bold;
                    }

                    svg {
                        min-width: 20px;
                        min-height: 20px;
                        padding: 2px;
                        cursor: pointer;
                        color: var(--red4);
                        border-radius: 5px;

                        &:hover {
                            background-color: var(--red8);
                        }
                    }
                }
            }

            .delete-icon {
                min-width: 20px;
                min-height: 20px;
                padding: 2px;
                cursor: pointer;
                color: var(--red4);
                border-radius: 5px;
            }
        }

        svg {
            width: 20px;
            height: 20px;
            transition: var(--transition-time1);
        }
    }
}