h1 {
    text-align: center;
    margin: var(--p2);
}

div#principal {
    display: flex;
    gap: 0.5%;
}

div#central {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 0.5%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    a {
        width: 100%;
        text-decoration: none;

        .links {
            border: 2px solid var(--black);
            border-radius: 10px;
            color: var(--black);
            animation-name: texto, var(--bg-animation-name, none);
            animation-duration: 10s, 40s;
            animation-iteration-count: infinite, infinite;
            animation-timing-function: linear, linear;
            text-decoration: none;
            transition: var(--transition-time1);
            font-size: 2.5rem;
            text-align: center;
            padding: 4rem 0;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}



@keyframes texto {
    0% {
        color: red;
    }

    12.5% {
        color: orange;
    }

    25% {
        color: yellow;
    }

    37.5% {
        color: green;
    }

    50% {
        color: blue;
    }

    62.5% {
        color: indigo;
    }

    75% {
        color: violet;
    }

    87.5% {
        color: rgb(0, 0, 0);
    }

    100% {
        color: red;
    }
}

#batatas {
    background: no-repeat center;
    --bg-animation-name: mudarBatatas;
}

#codificador {
    background: no-repeat center;
    --bg-animation-name: mudarCodificador;
}

#cores {
    background: no-repeat center;
    --bg-animation-name: mudarCores;
}

#curiosidades {
    background: no-repeat center;
    --bg-animation-name: mudarCuriosidades;
}

#mayor-simulator {
    background: no-repeat center;
    --bg-animation-name: mudarMayorSimulator;
}

#numeros {
    background: no-repeat center;
    --bg-animation-name: mudarNumeros;
}

#poder-do-css {
    background: no-repeat center;
    --bg-animation-name: mudarPoderDoCss;
}

#python {
    background: no-repeat center;
    --bg-animation-name: mudarPython;
}

#quadrado-clicker {
    background: no-repeat center;
    --bg-animation-name: mudarQuadradoClicker;
}

#review-jogos {
    background: no-repeat center;
    --bg-animation-name: mudarReviewJogos;
}

#thifreBD {
    background: no-repeat center;
    --bg-animation-name: mudarThifreBD;
}

.links:hover {
    background: #81C784;
    /* Cor ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta ligeiramente o tamanho */
}