h1 {
    text-align: center;
}

div#principal {
    display: flex;
    gap:0.5%; /* Espaço entre os blocos */
}



div.central {
    width: 50%;
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.links {
    display: block; /* Transforma os links em blocos, ocupando uma linha inteira */
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px 0;
    color: white;
    text-decoration: none;
    background-color: #66BB6A;
    transition: background-color 0.3s, transform 0.3s;
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza o texto dos links */
    margin-bottom: 10px; /* Adiciona um espaçamento entre os links */
}

.links:hover {
    background-color: #81C784; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.note-container {
    margin-top: 10px;
}

.note {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.note button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.note button.edit {
    right: 40px;
}

.note button:hover {
    background: #ddd;
}

.note button.delete {
    color: red;
}

.note textarea {
    width: calc(100% - 20px); /* Ajusta a largura para incluir padding e borda */
    border: none;
    background: transparent;
    resize: none;
}
