h1 {
    text-align: center;
}

div#principal {
    display: flex;
    gap: 0.5%;
    background-color: aliceblue;
}

div#central {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.links {
    width: 32%;
    display: block; 
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 60px 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .links {
        font-size: 2rem;
        width: 48%;
    }
}

@media (max-width: 400px) {
    .links {
        font-size: 1.5rem;
        width: 48%;
    }
}

@keyframes texto {
    0% {
        color: red;
    }
    12.5% {
        color: orange;
    }
    25% {
        color: yellow;
    }
    37.5% {
        color: green;
    }
    50% {
        color: blue;
    }
    62.5% {
        color: indigo;
    }
    75% {
        color: violet;
    }
    87.5% {
        color: rgb(0, 0, 0);
    }
    100% {
        color: red;
    }
}

#batatas {
    background: no-repeat center;
    animation: mudarBatatas 40s infinite linear, texto 10s infinite;
}

#codificador {
    background: no-repeat center;
    animation: mudarCodificador 40s infinite linear, texto 10s infinite;
}

#conversa {
    background: no-repeat center;
    animation: mudarConversa 40s infinite linear, texto 10s infinite;
}

#cores {
    background: no-repeat center;
    animation: mudarCores 40s infinite linear, texto 10s infinite;
}

#curiosidades {
    background: no-repeat center;
    animation: mudarCuriosidades 40s infinite linear, texto 10s infinite;
}

#review-jogos {
    background: no-repeat center;
    animation: mudarJogosReviews 40s infinite linear, texto 10s infinite;
}

#memes {
    background: no-repeat center;
    animation: mudarMemes 40s infinite linear, texto 10s infinite;
}

#numeros {
    background: no-repeat center;
    animation: mudarNumeros 40s infinite linear, texto 10s infinite;
}

#poder-do-css {
    background: no-repeat center;
    animation: mudarPoderDoCss 40s infinite linear, texto 10s infinite;
}

#python {
    background: no-repeat center;
    animation: mudarPython 40s infinite linear, texto 10s infinite;
}

#quadrado-clicker {
    background: no-repeat center;
    animation: mudarQuadradoClicker 40s infinite linear, texto 10s infinite;
}

.links:hover {
    background: #81C784; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

@keyframes mudarBatatas {
    0% {
        background-image: url('../images/links/batatas/batata1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/batatas/batata2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/batatas/batata3.jpg');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/batatas/batata4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/batatas/batata5.jpg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/batatas/batata6.jpg');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/batatas/batata7.jpg');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/batatas/batata8.jpg');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/batatas/batata1.jpg');
        background-size: cover;
    }
}

@keyframes mudarCodificador {
    0% {
        background-image: url('../images/links/codificador/cod1.png');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/codificador/cod2.jfif');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/codificador/cod3.jfif');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/codificador/cod4.png');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/codificador/cod5.jfif');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/codificador/cod6.jfif');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/codificador/cod7.jfif');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/codificador/cod8.jfif');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/codificador/cod1.png');
        background-size: cover;
    }
}

@keyframes mudarConversa {
    0% {
        background-image: url('../images/links/codificador/cod1.png');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/codificador/cod2.jfif');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/codificador/cod3.jfif');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/codificador/cod4.png');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/codificador/cod5.jfif');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/codificador/cod6.jfif');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/codificador/cod7.jfif');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/codificador/cod8.jfif');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/codificador/cod1.png');
        background-size: cover;
    }
}

@keyframes mudarCores {
    0% {
        background-image: url('../images/links/cores/cores1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/cores/cores2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/cores/cores3.jpg');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/cores/cores4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/cores/cores5.jpg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/cores/cores6.png');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/cores/cores7.jpg');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/cores/cores8.png');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/cores/cores1.jpg');
        background-size: cover;
    }
}

@keyframes mudarCuriosidades {
    0% {
        background-image: url('../images/links/curiosidades/curi1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/curiosidades/curi2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/curiosidades/curi3.png');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/curiosidades/curi4.png');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/curiosidades/curi5.png');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/curiosidades/curi6.jpg');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/curiosidades/curi7.png');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/curiosidades/curi8.jpg');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/curiosidades/curi1.jpg');
        background-size: cover;
    }
}

@keyframes mudarJogosReviews {
    0% {
        background-image: url('../images/links/jogos-reviews/jr1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/jogos-reviews/jr2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/jogos-reviews/jr3.jpg');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/jogos-reviews/jr4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/jogos-reviews/jr5.jpg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/jogos-reviews/jr6.jpg');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/jogos-reviews/jr7.jpg');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/jogos-reviews/jr8.jpg');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/jogos-reviews/jr1.jpg');
        background-size: cover;
    }
}

@keyframes mudarMemes {
    0% {
        background-image: url('../images/links/memes/memes1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/memes/memes2.jpeg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/memes/memes3.jpeg');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/memes/memes4.jpeg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/memes/memes5.jpeg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/memes/memes6.jpeg');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/memes/memes7.jpg');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/memes/memes8.png');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/memes/memes1.jpg');
        background-size: cover;
    }
}

@keyframes mudarNumeros {
    0% {
        background-image: url('../images/links/numeros/num1.png');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/numeros/num2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/numeros/num3.png');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/numeros/num4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/numeros/num5.jpg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/numeros/num6.png');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/numeros/num7.jpg');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/numeros/num8.png');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/numeros/num1.png');
        background-size: cover;
    }
}

@keyframes mudarPoderDoCss {
    0% {
        background-image: url('../images/links/poder-do-css/pcs1.png');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/poder-do-css/pcs2.png');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/poder-do-css/pcs3.jfif');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/poder-do-css/pcs4.png');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/poder-do-css/pcs5.jfif');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/poder-do-css/pcs6.jfif');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/poder-do-css/pcs7.jfif');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/poder-do-css/pcs8.jfif');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/poder-do-css/pcs1.png');
        background-size: cover;
    }
}

@keyframes mudarPython {
    0% {
        background-image: url('../images/links/python/py1.jpg');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/python/py2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/python/py3.png');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/python/py4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/python/py5.jpg');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/python/py6.jpg');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/python/py7.png');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/python/py8.png');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/python/py1.jpg');
        background-size: cover;
    }
}

@keyframes mudarQuadradoClicker {
    0% {
        background-image: url('../images/links/quadrado-clicker/qc1.png');
        background-size: cover;
    }
    12.5% {
        background-image: url('../images/links/quadrado-clicker/qc2.jpg');
        background-size: cover;
    }
    25% {
        background-image: url('../images/links/quadrado-clicker/qc3.jpg');
        background-size: cover;
    }
    37.5% {
        background-image: url('../images/links/quadrado-clicker/qc4.jpg');
        background-size: cover;
    }
    50% {
        background-image: url('../images/links/quadrado-clicker/qc5.png');
        background-size: cover;
    }
    62.5% {
        background-image: url('../images/links/quadrado-clicker/qc6.png');
        background-size: cover;
    }
    75% {
        background-image: url('../images/links/quadrado-clicker/qc7.png');
        background-size: cover;
    }
    87.5% {
        background-image: url('../images/links/quadrado-clicker/qc8.png');
        background-size: cover;
    }
    100% {
        background-image: url('../images/links/quadrado-clicker/qc1.png');
        background-size: cover;
    }
}