#container-introducao {
    display: flex;
    justify-content: center;
}

#introducao {
    border: solid 3px;
    width: 70%;
    text-align: center;
    padding: 5px;
    font-size: large;
    
}

#botao-css {
    border: none;
    border-radius: 15px;
    font-size: xx-large;
    width: fit-content;
    position: sticky;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -103%);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}