html,
body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: color-mix(in srgb, var(--blue9), white 70%);;
}

#game {
    width: 100%;
    display: flex;
    flex: 1;
    min-height: 0;

    #esquerda {
        width: 30%;
        padding: 0 var(--p5);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            font-size: var(--fs4);
            margin: var(--p5) 0;
            text-align: center;
        }

        div {
            margin-top: var(--p5);

            #quadrado {
                width: 200px;
                height: 200px;
                border: solid 3px black;
                cursor: pointer;
                transition: var(--transition-time1);

                &:hover {
                    animation: quadrado-animation 0.35s ease-in-out;
                }

                &.click-animation {
                    transform: scale(1.05);
                }
            }

            
        }

        div:nth-child(2) {
            margin-top: calc(var(--p5) * 2);
        }
    }

    #centro {
        width: 40%;

        h1 {
            background-color: var(--orange4);
            margin: var(--p4);
            margin-bottom: 0;
            padding: 0 var(--p5);
            border-radius: 10px 10px 0 0;
            color: white;
            font-size: var(--fs3);
            text-align: center;
        }

        div#melhorias-div {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            margin: var(--p4);

            div.melhoria {
                display: flex;
                flex-direction: column;
                border: solid 1px var(--orange7);
                border-radius: 10px;
                margin: var(--p5);
                padding: var(--p5);
                cursor: pointer;
                transition: var(--transition-time1);

                &:hover {
                    box-shadow: 0 0 10px var(--orange7);
                    transform: scale(1.02);
                }
            }
        }
    }

    #direita {
        width: 30%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: calc(100vh - 100px);

        h1 {
            background-color: var(--orange4);
            margin: var(--p5);
            margin-bottom: 0;
            padding: 0 var(--p5);
            border-radius: 10px 10px 0 0;
            color: white;
            font-size: var(--fs3);
            text-align: center;
        }

        div.gerador {
            width: auto;
            display: flex;
            align-items: center;
            border: solid 1px var(--orange7);
            border-radius: 10px;
            margin: var(--p5);
            padding: var(--p5);
            cursor: pointer;
            transition: var(--transition-time1);
            box-shadow: 0 0 5px var(--gray10);
            background-color: white;

            div.gerador-texts {
                white-space: nowrap;

                div.gerador-price-production {
                    display: flex;
                    flex-wrap: wrap;
                    
                    p {
                        margin-right: var(--p5);
                    }
                }
            }

            div.gerador-amount {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                aspect-ratio: 1 / 1;
                font-size: var(--fs3);
                font-weight: bold;
                margin-left: auto;
                border: solid 2px var(--orange7);
                border-radius: 10px;
                color: var(--orange4);
                background-color: var(--orange9);
            }

            &:hover {
                box-shadow: 0 0 10px var(--orange7);
                transform: scale(1.02);
            }
        }
    }
}

@keyframes quadrado-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}